
@model WithdrawCashModel;

<partial name="_Usernav" />

<section class="d-flex" id="user">
    <partial name="_UserSidenav" />

    <div class="container m-4">

        <div class="row">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>

        <div class="row col-8">
            <div class="form-group">
                <label asp-for="@Model.WithdrawMode" class="label">Select withdraw mode</label>
                <select id="cashOption"
                        asp-for="@Model.WithdrawMode"
                        asp-items="DropdownService.GetWithdrawModeDropdown()"
                        class="form-control">
                </select>
            </div>

            <div class="form-floating mb-3 mt-4" id="normalCash">
                <input type="number"
                       class="form-control"
                       asp-for="@Model.Amount"
                       placeholder="Example: 14000" />
                <label asp-for="@Model.Amount" class="mx-3">Normal cash</label>
                <span class="text-muted">Example: 14000</span>
                <span asp-validation-for="@Model.Amount" class="text-danger"></span>
            </div>

            <div class="form-group my-4" id="fastCash">
                <label class="label" for="Fast-cash-options">Fast cash options</label>
                <br />

                <div class="form-check">
                    @foreach (var fastCashOption in RadiobuttonService.GetFastCashOptions())
                    {
                        @Html.RadioButtonFor(model => model.Amount, fastCashOption, new { @class = "my-2", @value = fastCashOption, @id = fastCashOption })
                        <label for="@fastCashOption">&nbsp; @fastCashOption</label> <br />
                    }
                </div>

            </div>

            <div class="checkbox">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           value=""
                           id="flexCheckDefault" />
                    <label class="form-check-label"
                           for="flexCheckDefault">
                        I want a recipt
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           value=""
                           id="flexCheckChecked"
                           checked />
                    <label class="form-check-label"
                           for="flexCheckChecked">
                        I’m sure I want to withdraw this amount
                    </label>
                </div>

                <div class="d-flex justify-content-end my-5">
                    <button class="btn btn-primary">Withdraw</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    var select = document.getElementById("cashOption");
    var fastCash = document.getElementById("fastCash");
    var normalCash = document.getElementById("normalCash");

    var selectdOptions = 0;
    console.log(select.value);
    select.addEventListener("change", () => {
        selectdOptions = select.value;

        if (selectdOptions === "FastCash") {
            //
            normalCash.style.display = "none";
            fastCash.style.display = "block";
        } else {
            //
            fastCash.style.display = "none";
            normalCash.style.display = "block";
        }
    });
</script>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}